* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #cf5808;
  background: linear-gradient(
    357deg,
    rgba(207, 88, 8, 1) 0%,
    rgba(35, 58, 232, 1) 100%
  );
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 13px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.8rem;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

input:focus {
  border-color: #cf5808;
  box-shadow: 0 0 5px rgba(207, 88, 8, 0.5);
}
input:hover {
  border-color: #7678daec;
  box-shadow: 0 0 5px hsla(231, 95%, 45%, 0.3);
}

input {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #cf5808;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  text-align: center;
}

.resultado {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 20px;
  color: #000;
  background: #0400ff;
  background: linear-gradient(
    180deg,
    rgba(4, 0, 255, 0.7) 0%,
    rgba(253, 142, 45, 0.7) 100%
  );
  display: none;
}
button:first-child {
  margin-top: 30px;
}

button {
  background: #0883cf;
  background: linear-gradient(
    0deg,
    rgba(8, 131, 207, 1) 0%,
    rgba(35, 58, 232, 1) 100%
  );
  padding: 20px;
  border-radius: 18px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

label {
  display: block;
  margin-top: 8px;
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
}
